* {
  text-align: center;
  font-family: cursive;
}

body {
  background: linear-gradient(20deg, red 25%, orange 50%, black 100%)
}

nav {
  text-align: center;
  padding: 15px;
  background-color: #ffeaf1;
}

nav a {
  letter-spacing: 1.5px;
  margin: 0px 25px; 
  text-decoration: none;
  color: black !important;
  font-weight: 500;
}

main {
  color: white;
}

#dates {
  float: right;
}

#songs {
  float: left;;
}

#copyright {
  text-align: right;
  color: #ebbac2;
  font-size: 1em;
  font-weight: bold;
  clear: both;
}

