/* universal selector */
* {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* type selector */
body {
  background: url("../images/sheep-jungwon.jpg");
  background-repeat: repeat;
}

h1 {
  color: #ffb6cb;
  font-size: 2.5em;
  padding: 50px;
  background-color: #000000;
}

p {
  font-size: large;
  font-weight: thinner;
  line-height: 1.4em;
}

main {
  margin-right: 50em;
  margin-left: 10em;
  background: linear-gradient(45deg, #ffc0cb 50%, #800080 100%)
}

nav {
  text-align: center;
  padding: 15px;
  background-color: #ffeaf1;
}

nav a {
  letter-spacing: 1.5px;
  margin: 0px 25px; 
  text-decoration: none;
  color: #000000 !important;
  font-weight: 500;
}

/* relational selector */
section img {
  float: left;
  width: 16%;
  margin-right: 10em;
  margin-bottom: 5em;
}

/* class selector */
.socials {
  line-height: 0.6em;
}

.i-land {
  text-align: left;
  padding-right: 50px;
}

/* id selector */
#copyright {
  text-align: right;
  color: #ebbac2;
  font-size: 1em;
  font-weight: bold;
  background-color: #556b2f;
}

#iland_title {
  color: rgb(231, 150, 0);
}

#group-img {
  border: double #5eff00;
  border-width: 10px;
}

/* pseudo-class */
a:link {
  color: #476ea1;
}

a:visited {
  color: #9370d8;
}

a:focus,
a:hover {
  color: #e87096;
}