* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, section {
  text-align: center;
}

h2 {
  font-size: 1.7em;
}

ul {
  display: inline-block;
  text-align: left;
  padding: 0.5em;
  list-style-type: none;
  font-size: 1.2em;
  line-height: 1.4em;
}

/* pseudo-class */
li strong:first-child {
  color: rgb(120, 190, 255);
}

img {
  display: block;
  margin: auto;
  width: 20em;
}

/* id selector */
#copyright {
  text-align: right;
  color: #ebbac2;
  font-size: 1em;
  font-weight: bold;
}

h1 {
  color: #ffb6cb;
  font-size: 2.5em;
}