* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(255, 223, 228);
}

h1, section {
  text-align: center;
}

h2 {
  font-size: 1.7em;
}

ul {
  display: inline-block;
  text-align: left;
  padding: 0.5em;
  list-style-type: none;
  font-size: 1.2em;
}

img {
  display: block;
  margin: auto;
  width: 20em;
}