* {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Navigation Bar */
nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 15px;
  margin: 0;
  background-color: #ffeaf1;
}

nav ul li a {
  letter-spacing: 1.5px;
  margin: 0px 25px;
  text-decoration: none;
  color: #000000 !important;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

/* Styles for Home Page */
h1 {
  color: #ffb6cb;
  font-size: 2.5em;
}

h2 {
  font-size: 1.7em;
}

header img {
  width: 40%;
  min-width: 350px;
}

#homepage p {
  font-size: large;
  font-weight: thinner;
  line-height: 1.4em;
}

#homepage {
  margin: 0 15%;
}

.socials {
  line-height: 0.6em;
}

/* I-Land Description */
.i-land {
  text-align: left;
}

#iland_title {
  color: rgb(231, 150, 0);
}

#iland-poster {
  float: left;
  width: 20%;
  margin-right: 2%;
  min-width: 150px;
}

/*********************************************************/

/* Styles for Members Page */
.mem-facts {
  display: inline-block;

  padding: 10px;
  list-style-type: none;
  font-size: 1.2em;
  line-height: 1.4em;
}

.mem-facts li {
  text-align: left;
}

li strong:first-child {
  background-color: rgb(120, 190, 255, 30%);
}

/* Members' Profile Pictures */
.member-imgs {
  display: block;
  margin: auto;
  width: 17%;
  min-width: 250px;
}

/*********************************************************/

/* Styles for Discography Page */
.album-info img {
  width: 40%;
  min-width: 250px;
}

.album-info {
  line-height: 10px;
  padding: 10px;
}

.songs ol {
  width: 40%;
  min-width: 165px;
  display: inline-block;
}

.songs ol li {
  line-height: 1.8em;
  text-align: left;
}

.album {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;
}

.album-name {
  font-weight: 500;
  font-size: 1.2em;
}

.title-track {
  background-color: rgb(170, 120, 170, 50%);
  padding: 2px;
}

/*********************************************************/

/* Styles for K-Pop Terms Page */
#kpopterms,
header p {
  width: 50%;
  display: inline-block;
}

#kpopterms div h2 {
  text-align: left;
  margin-bottom: 3px;
}

#kpopterms div p {
  text-align: left;
}

#kpopterms div {
  padding: 1px;
}

/*********************************************************/

/* Footer */
#copyright {
  text-align: right;
  color: #ebbac2;
  font-size: 1em;
  font-weight: bold;
}

/* Links */
a:link {
  color: #476ea1;
}

a:visited {
  color: mediumpurple;
}

a:focus,
a:hover {
  color: #e87096;
}

/* For Mobile Devices */
@media screen and (max-width: 606px) {
  header img {
    width: 70%;
  }

  #homepage {
    margin: 0 5%;
  }

  #kpopterms,
  header p {
    width: 75%;
    display: inline-block;
  }

  .album {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .songs ol {
    display: inline-block;
    width: 50%
  }

  .album-info img {
    width: 70%;
  }

  .mem-facts {
    font-size: 1.1em;
  }

  #members {
    width: 80%;
    display: inline-block;
  }
}

/* For Tablet Devices */
@media screen and (min-width: 607px) and (max-width: 1000px) {
  header img {
    width: 60%;
  }

  #homepage {
    margin: 0 10%;
  }

  .songs ol {
    width: 60%;
  }
}

@media screen and (max-width: 1070px) {}