* {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(255, 223, 228);
}

h1 {
  color: rgb(236, 46, 141);
  font-size: 2.5em;
}

p {
  font-size: large;
  font-weight: thin;
}

footer {
  text-align: left;
}

a {
  font-weight: bold;
}